.defaultScreen {
    background-color: #1e1e1e;
    height: 100%;
    flex: 0.6;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    max-width: 60%;
    min-width: 60%;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
}

.defaultScreen__img {
    object-fit: contain;
    width: 40%;
    margin-top: -5vh;
}

.defaultScreen__text {
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.defaultScreen__heading {
    display: flex;
    align-items: center;
}

.defaultScreen__heading__title {
    color: white;
    font-size: 4vh;
    margin-right: 1vw;
}

.defaultScreen__heading__text {
    background-color: #00c4a3;
    color: rgb(0, 0, 0);
    padding: 5px 8px;
    border-radius: 999px;
    font-size: 11px;
}

.defaultScreen__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 3vh;
    color: white;
    font-size: 14px;
}

.defaultScreen__body__info {
    display: flex;
    align-items: center;
    margin-top: 1vh;
}

.defaultScreen__body__info>.MuiSvgIcon-root {
    margin-right: 1vw;
}

.defaultScreen__body__info>span {
    color: #00c4a3;
    margin-left: 0.4vw;
}

.defaultScreen__body__info>span {
    cursor: pointer;
}